<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title><%= title%>></title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<nav>
    <a href="/blog">Blog</a>
    <a href="/blog/tags">Tags</a>
</nav>
    <main>
        <%- body%>
    </main>
</body>
</html>